.git
.github
.env
.venv
.idea
__pycache__
*.pyc
*.pkl
*.pt
*.wav
*.mp3
src/logs
src/temp
src/data/images-encodings
src/data/voice-encodings
src/data/voice-samples
src/data/users.json
src/data/shared_data.json
